# Импорты

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
import pickle

# Загрузка чищенного датасета, разбивка по колонкам

In [2]:
df = pd.read_csv(
    filepath_or_buffer='../data/cleared_df.csv',
    sep=';',
    index_col='SkillFactory_Id'
)
banks = [
    'BankA_decision',
    'BankB_decision',
    'BankC_decision',
    'BankD_decision',
    'BankE_decision'
]
df = df.drop(banks, axis='columns')
df = df.dropna(how='all')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6603 entries, 1.0 to 8787.0
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   BirthDate          6603 non-null   object
 1   education          6603 non-null   object
 2   employment status  6603 non-null   object
 3   Value              6603 non-null   object
 4   JobStartDate       6603 non-null   object
 5   Position           6603 non-null   object
 6   MonthProfit        6603 non-null   float64
 7   MonthExpense       6603 non-null   float64
 8   Gender             6603 non-null   float64
 9   Family status      6603 non-null   object
 10  ChildCount         6603 non-null   float64
 11  SNILS              6603 non-null   float64
 12  Merch_code         6603 non-null   float64
 13  Loan_amount        6603 non-null   float64
 14  Loan_term          6603 non-null   float64
 15  Goods_category     6603 non-null   object
dtypes: float64(8), object(8)
memory usage: 877.0+ KB

In [3]:
df['Loan_term'].unique()

array([18.,  6., 24., 12.])

In [4]:
# Список столбцов для заполнения "most_frequnces"
CAT_COLUMNS = [
    'education',
    'employment status',
    'Value',
    'Position',
    'Gender',
    'Family status',
    'ChildCount',
    'SNILS',
    'Merch_code',
    'Loan_term',
    'Goods_category',
]
# Список столбцов для заполнения "mean"
REG_COLUMNS = [
    'MonthProfit',
    'MonthExpense',
    'Loan_amount',
]

In [5]:
df[CAT_COLUMNS].head(3)

,education,employment status,Value,Position,Gender,Family status,ChildCount,SNILS,Merch_code,Loan_term,Goods_category
SkillFactory_Id,,,,,,,,,,,
1.0,Высшее - специалист,Работаю по найму полный рабочий день/служу,9 - 10 лет,начальник п,0.0,Никогда в браке не состоял(а),0.0,0.0,77.0,18.0,Furniture
2.0,Высшее - специалист,Собственное дело,1 - 2 года,директор,0.0,Никогда в браке не состоял(а),0.0,0.0,27.0,6.0,Fitness
3.0,Высшее - специалист,Работаю по найму полный рабочий день/служу,10 и более лет,ДИРЕКТОР,1.0,Никогда в браке не состоял(а),0.0,0.0,19.0,24.0,Medical_services

In [6]:
df[REG_COLUMNS].head(3)

                 MonthProfit  MonthExpense  Loan_amount
SkillFactory_Id
1.0                 180000.0       90000.0     137000.0
2.0                 200000.0       60000.0      33000.0
3.0                 300000.0       45000.0     165000.0

# Создаем предобученные модели простых заполнителей SKlearn

In [7]:
cat_imputer = SimpleImputer(strategy='most_frequent')
cat_imputer = cat_imputer.fit(df[CAT_COLUMNS])
reg_imputer = SimpleImputer(strategy='mean')
reg_imputer = reg_imputer.fit(df[REG_COLUMNS])

/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [8]:
da = df.copy()
da[CAT_COLUMNS] = cat_imputer.transform(df[CAT_COLUMNS])
da[REG_COLUMNS] = reg_imputer.transform(df[REG_COLUMNS])
da.head(3)

/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

,BirthDate,education,employment status,Value,JobStartDate,Position,MonthProfit,MonthExpense,Gender,Family status,ChildCount,SNILS,Merch_code,Loan_amount,Loan_term,Goods_category
SkillFactory_Id,,,,,,,,,,,,,,,,
1.0,1988-07-21,Высшее - специалист,Работаю по найму полный рабочий день/служу,9 - 10 лет,2013-09-01 00:00:00.000000000,начальник п,180000.0,90000.0,0.0,Никогда в браке не состоял(а),0.0,0.0,77.0,137000.0,18.0,Furniture
2.0,1998-01-16,Высшее - специалист,Собственное дело,1 - 2 года,2022-12-01 00:00:00.000000000,директор,200000.0,60000.0,0.0,Никогда в браке не состоял(а),0.0,0.0,27.0,33000.0,6.0,Fitness
3.0,1972-10-02,Высшее - специалист,Работаю по найму полный рабочий день/служу,10 и более лет,2005-12-01 00:00:00.000000000,ДИРЕКТОР,300000.0,45000.0,1.0,Никогда в браке не состоял(а),0.0,0.0,19.0,165000.0,24.0,Medical_services

# Сохраняем модели простых заполнятелей

In [9]:
pickle.dump(cat_imputer, open('../models/simple.cat', 'wb'))
pickle.dump(reg_imputer, open('../models/simple.reg', 'wb'))

# Проверка работоспособности

In [10]:
cat_imputer = pickle.load(open('../models/simple.cat', 'rb'))
reg_imputer = pickle.load(open('../models/simple.reg', 'rb'))

In [11]:
fd = df.copy()
fd[CAT_COLUMNS] = cat_imputer.transform(fd[CAT_COLUMNS])
fd[REG_COLUMNS] = reg_imputer.transform(fd[REG_COLUMNS])
fd.head(3)

/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/yaro/anaconda3/envs/Catboost/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

,BirthDate,education,employment status,Value,JobStartDate,Position,MonthProfit,MonthExpense,Gender,Family status,ChildCount,SNILS,Merch_code,Loan_amount,Loan_term,Goods_category
SkillFactory_Id,,,,,,,,,,,,,,,,
1.0,1988-07-21,Высшее - специалист,Работаю по найму полный рабочий день/служу,9 - 10 лет,2013-09-01 00:00:00.000000000,начальник п,180000.0,90000.0,0.0,Никогда в браке не состоял(а),0.0,0.0,77.0,137000.0,18.0,Furniture
2.0,1998-01-16,Высшее - специалист,Собственное дело,1 - 2 года,2022-12-01 00:00:00.000000000,директор,200000.0,60000.0,0.0,Никогда в браке не состоял(а),0.0,0.0,27.0,33000.0,6.0,Fitness
3.0,1972-10-02,Высшее - специалист,Работаю по найму полный рабочий день/служу,10 и более лет,2005-12-01 00:00:00.000000000,ДИРЕКТОР,300000.0,45000.0,1.0,Никогда в браке не состоял(а),0.0,0.0,19.0,165000.0,24.0,Medical_services