# Импорты (нужно установить эти библиотеки)

In [1]:
import numpy as np
import pandas as pd
import requests
import json

# Тестовый фрейм (одна строка, которая передается как post request)

In [2]:
test_request = {
    'BirthDate':            '1980-03-20',
    'education':            'Высшее - специалист',
    'employment_status':    'Собственное дело',
    'Value':                '10 и более лет',
    'JobStartDate':         '2012-10-01',
    'Position':             'Просто умный человек',
    #'MonthProfit':          150000.0,
    'MonthExpense':         '22500.0', 
    'Gender':               'sdfas', #'0',
    'Family_status':        'Никогда в браке не состоял(а)',
    'ChildCount':           '0',
    'MonthProfit':          np.nan,
    'SNILS':                '0',
    'Merch_code':           '15',
    'Loan_amount':          '48000.0',
    'Loan_term':            '6',
    'Goods_category':       'Medical_services'
}

# Образец Get и Post запроса

In [3]:
r = requests.get('http://127.0.0.1:5000/')
print(r.status_code, r.reason)

200 OK

In [4]:
json_data = json.dumps(test_request).encode('utf8')
r = requests.post(
    #'http://158.160.135.101:5000/AskOraqul/', data=json_data)
    'http://127.0.0.1:5000/AskOraqul/', data=json_data)
print(r.status_code, r.reason)
resp = r.content.decode()[1:-1].split(',')
BankA_decision = round(float(resp[0]), 2)
BankB_decision = round(float(resp[1]), 2)
BankC_decision = round(float(resp[2]), 2)
BankD_decision = round(float(resp[3]), 2)
BankE_decision = round(float(resp[4]), 2)
print(BankA_decision, BankB_decision, BankC_decision, BankD_decision, BankE_decision)

200 OK
0.59 0.57 0.54 0.55 0.47

# Post запросы в цикле с перебором строк из загружаемого датафрейма

In [5]:
# Загружаем тестовую выборку
df = pd.read_csv(
    filepath_or_buffer='../data/model_val.csv',
    sep=';',
    index_col='SkillFactory_Id')
banks = ['BankA_decision',
             'BankB_decision',
             'BankC_decision',
             'BankD_decision',
             'BankE_decision']
df = df.drop(banks, axis='columns')
df = df.dropna(how='all')
df.rename(columns={
    "employment status": "employment_status",
    "Family status": "Family_status"}, 
    inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6603 entries, 1 to 8787
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   BirthDate          6603 non-null   object
 1   education          6603 non-null   object
 2   employment_status  6603 non-null   object
 3   Value              6523 non-null   object
 4   JobStartDate       6494 non-null   object
 5   Position           6494 non-null   object
 6   MonthProfit        6603 non-null   int64
 7   MonthExpense       6603 non-null   int64
 8   Gender             6566 non-null   float64
 9   Family_status      6566 non-null   object
 10  ChildCount         6566 non-null   float64
 11  SNILS              6603 non-null   int64
 12  Merch_code         6603 non-null   int64
 13  Loan_amount        6603 non-null   int64
 14  Loan_term          6603 non-null   int64
 15  Goods_category     6603 non-null   object
dtypes: float64(2), int64(6), object(8)
memory usage: 877.0+ KB

In [6]:
# Отправляем произвольные 50 строк из загруженного датафрейма
frame_for_send = df.sample(50).to_dict('records')
for i in range(len(frame_for_send)):
    #json_data = json.dumps(frame_for_send[i]).encode('utf8')
    json_data = df.iloc[i].to_json().encode('utf8')
    r = requests.post(
        #'http://158.160.135.101:5000/AskOraqul/', data=json_data)
        'http://127.0.0.1:5000/AskOraqul/', data=json_data)
    print(r.status_code, r.reason)
    resp = r.content.decode()[1:-1].split(',')
    BankA_decision = round(float(resp[0]), 2)
    BankB_decision = round(float(resp[1]), 2)
    BankC_decision = round(float(resp[2]), 2)
    BankD_decision = round(float(resp[3]), 2)
    BankE_decision = round(float(resp[4]), 2)
    print(BankA_decision, BankB_decision, BankC_decision, BankD_decision, BankE_decision)

200 OK
0.68 0.85 0.76 0.66 0.76
200 OK
0.65 0.65 0.78 0.43 0.66
200 OK
0.29 0.47 0.56 0.72 0.76
200 OK
0.6 0.4 0.67 0.59 0.89
200 OK
0.28 0.65 0.56 0.68 0.73
200 OK
0.95 0.93 0.73 0.89 0.96
200 OK
0.61 0.41 0.5 0.53 0.5
200 OK
0.88 0.37 0.88 0.76 0.3
200 OK
0.95 0.51 0.98 0.62 0.96
200 OK
0.43 0.44 0.32 0.31 0.65
200 OK
0.5 0.74 0.87 0.71 0.93
200 OK
0.24 0.68 0.49 0.71 0.69
200 OK
0.46 0.66 0.5 0.59 0.83
200 OK
0.41 0.51 0.55 0.46 0.58
200 OK
0.27 0.72 0.43 0.67 0.72
200 OK
0.37 0.31 0.54 0.49 0.7
200 OK
0.44 0.67 0.69 0.47 0.66
200 OK
0.48 0.43 0.23 0.52 0.74
200 OK
0.68 0.67 0.82 0.16 0.52
200 OK
0.64 0.87 0.69 0.42 0.64
200 OK
0.34 0.57 0.59 0.53 0.44
200 OK
0.55 0.62 0.52 0.59 0.95
200 OK
0.57 0.73 0.72 0.53 0.47
200 OK
0.34 0.67 0.82 0.55 0.5
200 OK
0.59 0.35 0.41 0.8 0.7
200 OK
0.54 0.51 0.55 0.6 0.92
200 OK
0.48 0.7 0.82 0.74 0.67
200 OK
0.59 0.38 0.37 0.54 0.77
200 OK
0.53 0.58 0.56 0.52 0.72
200 OK
0.46 0.49 0.63 0.57 0.67
200 OK
0.55 0.68 0.77 0.55 0.9
200 OK
0.45 0.45 0.6 0.88 0.72
200 OK
0.53 0.43 0.5 0.58 0.53
200 OK
0.57 0.66 0.58 0.52 0.71
200 OK
0.71 0.53 0.57 0.7 0.3
200 OK
0.69 0.62 0.69 0.63 0.74
200 OK
0.44 0.48 0.47 0.64 0.5
200 OK
0.49 0.57 0.42 0.64 0.32
200 OK
0.41 0.67 0.49 0.79 0.7
200 OK
0.4 0.76 0.63 0.81 0.59
200 OK
0.59 0.61 0.22 0.62 0.73
200 OK
0.52 0.83 0.38 0.61 0.65
200 OK
0.89 0.86 0.86 0.61 0.74
200 OK
0.7 0.91 0.54 0.44 0.37
200 OK
0.34 0.55 0.49 0.65 0.88
200 OK
0.71 0.87 0.26 0.9 0.61
200 OK
0.5 0.33 0.18 1.0 0.99
200 OK
0.49 0.63 0.76 0.68 0.75
200 OK
0.72 0.6 0.33 0.45 0.64
200 OK
0.55 0.51 0.78 0.73 0.81